<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/sun.xml" />

  <!-- Device Dependencies -->
  <project path="device/xiaomi/sepolicy" name="xiaomi-8750/android_device_xiaomi_sepolicy" remote="aospa" revision="vauxite" />
  <project path="hardware/xiaomi" name="xiaomi-8750/android_hardware_xiaomi" remote="aospa" revision="vauxite" />
</manifest>
